<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
 .container{
margin: auto;
width: 500px;
max-width: 90%; 
 }
 
button {
background-color: #89d0da;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}
input[type=submit] {
background-color: aqua;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

    </style>
    <title>User Signup</title>
</head>
<body>
    <center>
        {% with messages= get_flashed_messages()%}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>User Signup</h2><br><br>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.username }}
            <br><br>
            {{ form.phno }}
            <br><br>
            {{ form.mailid }}
            <br><br>
            {{ form.userpassword }}
            <br><br>
            {{ form.submit }}
        </form>
    </center>
</body>
</html>